{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "contact" %} {% block content %}

<div class="featured-section">
	<div class="contact">
		<div class="container mt-5">
			<h1>Contact Me</h1>

			<div class="row mt-4">
				<div class="col-lg-6">
					<div class="contact-explanation">
						<h2>Lets talk</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates inventore laborum
							cumque, aliquid accusamus, nobis eum ab accusantium laudantium dolorem dolorum! Iusto
							quaerat perferendis ex, sed voluptatem iure doloribus necessitatibus!
						</p>
					</div>
				</div>

				<div class="col-lg-6">
					<form>
						<div class="row">
							<div class="col-4 d-flex justify-content-center">
								<div class="contact-box">
									<a href="mailto:info@mysite.com"
										><i class="fa fa-envelope-o" aria-hidden="true"></i
									></a>
								</div>
							</div>
							<div class="col-4 d-flex justify-content-center">
								<div class="contact-box">
									<a href="https://www.youtube.com/@hasankorkmaz5346"
										><i class="fa fa-youtube-play" aria-hidden="true"></i
									></a>
								</div>
							</div>

							<div class="col-4 d-flex justify-content-center">
								<div class="contact-box">
									<a href="https://github.com/Korkihasan">
										<i class="fa fa-github" aria-hidden="true"></i
									></a>
								</div>
							</div>

							<div class="col-lg-6 p-2">
								<input type="text" class="form-control" placeholder="First Name" />
							</div>
							<div class="col-lg-6 p-2">
								<input type="text" class="form-control" placeholder="Last Name" />
							</div>
							<div class="col-lg-6 p-2">
								<input type="email" class="form-control" placeholder="E-Mail" />
							</div>
							<div class="col-lg-6 p-2">
								<input type="tel" class="form-control" placeholder="Tel-Number" />
							</div>
							<div class="col-12 p-2">
								<textarea
									class="form-control textarea-size"
									placeholder="Leave a comment here"
								></textarea>
							</div>
							<div class="col p-2"><button class="btn">Submit</button></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
