{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "Anasayfa" %} {% block content %}
<div class="featured-section">
	<div class="container">
		<div class="content">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-4">
					<div class="contnent-picture">
						<img src="/images/contant-picture.png" />
					</div>
				</div>
				<div class="col-lg-4">
					<div class="content-text">
						<h1>merhabalar</h1>
						<h2>Wellcome to my site</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eum quasi, fugit consequatur
							molestiae nobis diasdasdasdcta facere accusamus minus omnis
						</p>
						<div class="content-buttons">
							<a href="resume.html"><button class="btn">Resume</button></a>
							<a href="resume.html"><button class="btn mx-2">Projects</button></a>
							<a href="resume.html"><button class="btn">Contact</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
