{% extends 'layouts/master.twig' %} {% set pageName = "projects" %} {% set pageTitle = "Projects" %} {% block content %}

<div class="featured-section">
	<div class="container my-5">
		<h1>Projects</h1>
		<div class="project-box">
			<div class="row justify-content-around align-items-center my-5">
				<div class="col-lg-4 project-box-element">
					<div
						class="project-text ortakopacity1"
						onclick="window.open('https://github.com/Korkihasan/login-signin')"
					>
						<h3>Login-signin</h3>
						<p>
							I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
							Text” or double click me to add your own content and make changes to the font. I’m a great
							place for you to tell a story and let your users know a little more about you.
						</p>
					</div>
				</div>

				<div class="col-lg-4 project-box-element">
					<div
						class="project-foto ortakopacity1"
						onclick="window.open('https://hasankormaz-login-signin.netlify.app/')"
					>
						<img src="/images/login-signup-web-foto.png" />
					</div>
				</div>
			</div>
		</div>

		<div class="project-box">
			<div class="row justify-content-around align-items-center my-5">
				<div class="col-lg-4 project-box-element">
					<div
						class="project-text ortakopacity2"
						onclick="window.open('https://github.com/Korkihasan/password-generator')"
					>
						<h3>Password-generator</h3>
						<p>
							I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
							Text” or double click me to add your own content and make changes to the font. I’m a great
							place for you to tell a story and let your users know a little more about you.
						</p>
					</div>
				</div>

				<div class="col-lg-4 project-box-element">
					<div
						class="project-foto ortakopacity2"
						onclick="window.open('https://hasankorkmazpasssword-generator.netlify.app/')"
					>
						<img src="/images/password-generator-web-foto.png" />
					</div>
				</div>
			</div>
		</div>

		<div class="project-box">
			<div class="row justify-content-around align-items-center my-5">
				<div class="col-lg-4 project-box-element">
					<div class="project-text ortakopacity3" onclick="window.open('https://github.com/Korkihasan/card')">
						<h3>Card</h3>
						<p>
							I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
							Text” or double click me to add your own content and make changes to the font. I’m a great
							place for you to tell a story and let your users know a little more about you.
						</p>
					</div>
				</div>

				<div class="col-lg-4 project-box-element">
					<div class="project-foto ortakopacity3" onclick="window.open('https://credt-card.netlify.app/')">
						<img src="/images/card-web-foto.png" />
					</div>
				</div>
			</div>
		</div>

		<div class="project-box">
			<div class="row justify-content-around align-items-center my-5">
				<div class="col-lg-4 project-box-element">
					<div
						class="project-text ortakopacity4"
						onclick="window.open('https://github.com/Korkihasan/Challenge')"
					>
						<h3>Challenge</h3>
						<p>
							I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit
							Text” or double click me to add your own content and make changes to the font. I’m a great
							place for you to tell a story and let your users know a little more about you.
						</p>
					</div>
				</div>

				<div class="col-lg-4 project-box-element">
					<div
						class="project-foto ortakopacity4"
						onclick="window.open('https://hasankorkmazchallenge.netlify.app/')"
					>
						<img src="/images/challenge-web-foto.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
