{% extends 'layouts/master.twig' %} {% set pageName = " index" %} {% set pageTitle = "resume" %} {% block content %}
<div class="featured-section">
	<div class="container my-5">
		<h1>Resume</h1>
		<div class="row justify-content-around my-5">
			<div class="col-4">
				<div class="resume-catagorie"><h3>Work Experience</h3></div>
			</div>
			<div class="col-4">
				<div class="row">
					<h6>Editor</h6>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”
						or double click me to add your own content and make changes to the font
					</p>
				</div>
				<div class="row">
					<h6>Writer at Large</h6>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”
						or double click me to add your own content and make changes to the font
					</p>
				</div>
				<div class="row">
					<h6>Intern</h6>
					<p>
						I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text”
						or double click me to add your own content and make changes to the font
					</p>
				</div>
			</div>
		</div>
		<hr />
		<div class="row justify-content-around">
			<div class="col-4">
				<div class="resume-catagorie"><h3>Education</h3></div>
			</div>
			<div class="col-4">
				<div class="row">
					<h6>Establishment Name | Master’s Degree</h6>
					<p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
				</div>
				<div class="row">
					<h6>Establishment Name | Master’s Degree</h6>
					<p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
				</div>
			</div>
		</div>

		<hr />
		<div class="row justify-content-around">
			<div class="col-4">
				<div class="resume-catagorie"><h3>Skills & Expertise</h3></div>
			</div>
			<div class="col-4">
				<div class="html my-2">
					<h6>HTML</h6>
					<div class="skill-bar">
						<div class="html-skills"></div>
					</div>
				</div>
				<div class="css my-2">
					<h6>CSS</h6>
					<div class="skill-bar">
						<div class="css-skills"></div>
					</div>
				</div>
				<div class="javascript my-2">
					<h6>JAVASCRIPT</h6>
					<div class="skill-bar">
						<div class="javascript-skills"></div>
					</div>
				</div>
				<div class="scss my-2">
					<h6>SCSS</h6>
					<div class="skill-bar">
						<div class="scss-skills"></div>
					</div>
				</div>
				<div class="photoshop my-2">
					<h6>PHOTOSHOP</h6>
					<div class="skill-bar">
						<div class="photoshop-skills"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
