<footer class="footer" id="footer">
	<div class="footer-line"></div>
	<div class="container">
		<div class="row">
			<div class="footer-nav">
				<div class="col">
					<div>
						<h4>Email</h4>
						<a href="mailto:info@mysite.com">hasankorkmaz@info.com</a>
					</div>
				</div>
				<div class="col">
					<div>
						<h4>Github</h4>
						<a href="https://github.com/Korkihasan">Hasan Korkmaz</a>
					</div>
				</div>
				<div class="col">
					<div>
						<h4>Follow Me</h4>
						<div>iconlar gelicek</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
