<footer class="footer" id="footer">
	<div class="footer-line"></div>
	<div class="container">
		<div class="row">
			<div class="footer-nav">
				<div class="col">
					<div>
						<h4>Phone</h4>
						123-456-7890
					</div>
				</div>
				<div class="col">
					<div>
						<h4>Email</h4>
						<a class="footer-mail" href="mailto:info@mysite.com">info@mysite.com</a>
					</div>
				</div>
				<div class="col">
					<div>
						<h4>Follow Me</h4>
						<div class="footer-icons">iconlar gelicek</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
