<footer class="footer" id="footer">
	<div class="footer-line"></div>
	<div class="container">
		<div class="row footer-navbar my-4">
			<div class="col footer-navs"><a href="#">Privacy Policy</a> / <a href="#"> Cookie Policy</a></div>
			<div class="col footer-navs mb-1">
				<a href="resume.html">Resume</a> • <a href="projects.html">Projects</a> •
				<a href="contact.html">Conact</a>
			</div>
			<div class="col footer-navs telif">© 2022 Hasan Korkmaz</div>
		</div>
	</div>
</footer>
