/* stylelint-disable scss/selector-no-union-class-name */

/* Footer */

.footer-line {
  width: 95%;
  height: 1px;
  background-color: $gray-800;
}

.footer-navbar {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-navs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.telif {
  color: $gray-600;
}

.footer-navs .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin: 0px 3px;
}
