/* stylelint-disable scss/selector-no-union-class-name */

/* Footer */



footer{

color: $light;
display: flex;
align-items: center;
flex-direction: column;
}
.footer-line{width:95%;height:1px;
background-color: $gray-800;}

.footer-nav{padding: 50px 0 80px; display: flex;}

footer .col{display: flex;
align-items: center;
flex-direction: column;}


.footer-mail{color: $light;}


