.navbar {
  display: block;
  @include from($tablet) {
    display: flex;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-dot {
  width: 40px;
  height: 40px;
  background-color: $primary;
  border-radius: 50%;
}
.logo-text {
  font-size: 28px;
  font-weight: bold;
  padding-left: 5px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-item {
  font-size: 20px;
}
