.content {
  @include from($desktop) {
    height: 80vh;
    display: flex;
  }
}

.contnent-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  @include from($desktop) {
    margin: 0px;
  }
}

.contnent-picture img {
  max-width: 100%;
  width: 345px;
}

.content-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px;
  @include from($desktop) {
    display: block;
    margin: 0px;
  }
}

.content-text h2 {
  width: max-content;
}

.content-text p {
  text-align: center;

  @include from($desktop) {
    text-align: start;
  }
}

.content-buttons {
  display: flex;
  flex-wrap: nowrap;
}
