.resume-catagorie {
  width: 150px;
}

.resume b {
  color: $primary-light;
}

.skill-bar {
  height: 5px;
  width: 100%;
  background-color: $light;
  border-radius: 5px;
}

.skill {
  height: 5px;
  border-radius: 5px;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0% {
    width: 0%;
  }
}

.html h6 {
  color: $orange;
}
.html-skills {
  background-color: $orange;
  width: 80%;
}
.css h6 {
  color: $purple;
}
.css-skills {
  background-color: $purple;
  width: 75%;
}
.javascript h6 {
  color: $yellow;
}
.javascript-skills {
  background-color: $yellow;
  width: 30%;
}
.scss h6 {
  color: $pink;
}
.scss-skills {
  background-color: $pink;
  width: 15%;
}
.photoshop h6 {
  color: $blue;
}
.photoshop-skills {
  background-color: $blue;
  width: 60%;
}
